.m-nav-header {
  .logo {
    width: 184px;
    height: 38px;
    line-height: 38px;
    font-size: 18px;
    text-align: center;
    color: #948aec;
    font-weight: bold;
    background: #333;
    border-radius: 6px;
    margin: 13px 8px;
    float: left;
  }
}